.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 80%;
    border-radius: 30px;
    background: #d2d2d2;
    transition: 0.25s ease-in-out;
}
  
label span:nth-child(1){
    top: 0;
}
  
label span:nth-child(2){
    top: 8px;
}
  
label span:nth-child(3){
    top: 16px;
}  

.menuModal {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; 
    opacity: 50%;
    width: 100%;
    height: 100vh;   
}

.menuButtonsContainer {
    opacity: 100%;
    height: 100vh;
    width: 250px;
    color: white;
    background-color: black;
    position: absolute;
    top: 49px;
    left: 0;
}

.profileInfo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.profileInfo h1 {
    padding-left: 8px;
    color: grey;
}

.profileInfo img {
    width: 32px;
    height: 32px;
}

.menuHeader::after {
    display: block;
    content: '';
    border-bottom: grey solid 1px;
    margin-top: 10px;
    margin-bottom: 15px;
}
