<nav class='logo'>
    <img src="../../assets/images/netflixLogo.png" alt="">
</nav>
<div class="usersContainer">
    <h1>Quem está assistindo?</h1>
    <ul class="imagesContainer">
        <li *ngFor="let user of users"><app-user-card [user]="user" [edit]="edit"></app-user-card></li>
    </ul>
    <div class="buttonProfile" [ngClass]="{'finishEditButton':edit}" (click)="toggleEdit()">
        <button type="button" *ngIf="!edit"><span>Gerencias perfis</span></button>
        <button type="button" *ngIf="edit"><span>Concluído</span></button>
    </div>
</div>
