<div class="Container">
    <div class="navContainer">
        <div class="buttonsContainer">
            <app-nav-button [text]="'Início'" [checked]="'checked'" [radioGroup]="'navButtons'"></app-nav-button>
            <app-nav-button [text]="'Assista de novo'" [radioGroup]="'navButtons'"></app-nav-button>
            <app-nav-button [text]="'Séries'" [radioGroup]="'navButtons'"></app-nav-button>
            <app-nav-button [text]="'Filmes'" [radioGroup]="'navButtons'"></app-nav-button>
            <app-nav-button [text]="'Bombando'" [radioGroup]="'navButtons'"></app-nav-button>
            <app-nav-button [text]="'Minha Lista'" [radioGroup]="'navButtons'"></app-nav-button>
        </div>
        <div class="profileContainer">

            <!-- <img class="avatarImg"src="{{ user.avatarUrl }}" alt=""> -->
            <img class="avatarImg" src="https://occ-0-2594-185.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABZfW1RUr22fiBWaYExj7CxON4XhbCzdXecA3cogZ0L2umPLeF1G2CRjQOqJ4DsYba55_ydC_mMzPhNI-1lGWzjg.png?r=9fe" alt="">
        </div>
    </div>
</div>