@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');

* {
    font-family: 'Martel Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../../assets/images/netflixBackground1.png);
    height: 100vh;
    background-color: var(--netflixPreto);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid #222222
}

.logo {
    position: absolute;
    left: 3%;
    top: 3%;
}

a {
    cursor: pointer;
    color: #0080ff;
    text-decoration: underline;
}

.boxLogin {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 310px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.loginInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 40px;
}

input, .ng-untouched .ng-invalid {
    width: 220px;
    height: 30px;
    border-radius: 3px;
    background-color: #333333;
    color: white;
    border: none;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 12px;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

button {
    width: 230px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #E50914;
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 20px;
}

p {
    font-size: 9px;
    width: 230px;
    margin-top: 5px;
    color: white;
}

.error {
    margin-top: 0px;
    margin-bottom: 5px;
    color:#AF6C03;
    font-size: 9px;

}

.inputEmailPhone.ng-touched.ng-invalid {
    border-bottom: 2px solid #AF6C03;
}

.inputPassword.ng-touched.ng-invalid {
    border-bottom: 2px solid #AF6C03;
}

.knowMore {
    margin-top: 10px;
}

@media screen and (max-width: 400px){
    .container {
        display: none;
        background-image: none;
        background-color: black;
    }

    .background {
        display:none;
    }
}