<div class="outContainer">
    <div class="container">
        <nav class='logo'>
            <img src="../../assets/images/netflixLogo.png" alt="">
        </nav>
        <div class="boxLogin">
            <div class="loginInfo">
                <h1>Entrar</h1>
                
                <form [formGroup]="father" (ngSubmit)=logIn()>
                    <input class='inputEmailPhone' [ngClass]="{'inputEmailPhone': phoneError}" (keyup)="checkIfRepeat($event)" pattern="^(?:\d{11}|\w+@\w+.\w{2,3}|\w+@\w+.\w{2,3}\w+.\w{2,2})$" formControlName="emailPhone"  type="text" placeholder="Email ou número de telefone" id="">
                    <ng-template [ngIf]="phoneError">
                        <p class='error' >
                            Informe um e-mail ou número de telefone válido.
                        </p>
                    </ng-template>
                    <input class='inputPassword' formControlName="password"  type="password" placeholder="senha" id="">
                    <ng-template [ngIf]="father.controls['password'].hasError('minlength') || father.controls['password'].hasError('maxlength') || father.controls['password'].invalid && father.controls['password'].touched">
                        <p class='error'>
                            A senha deve ter entre 4 e 60 caracteres.
                        </p>
                    </ng-template>
                    <br>
                    <button>Entrar</button>
                </form>
                <p>Essa página é protegida pelo google reCAPTCHA para garantir que você não é um robô. <a [routerLink]="[]" (click)="turnKhowMore()">Saiba mais</a></p>
                <ng-template class='knowMore' [ngIf]='knowMore'>
                    <p>
                        As informações recolhidas pelo Google reCAPTCHA estão sujeitas a  <a [routerLink]="[]">Política de Privacidade</a> e <a [routerLink]="[]">Termos de Uso</a>, e são usadas para oferecer, manter e melhorar o serviço reCAPTCHA e por questões de segurança não são usadas para exibir anúncios personalizados pelo Google.
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
    <app-footer [links]="footerInfo" [contactInfo]="contactInfo"></app-footer>
</div>