<div class="container">
    <div class="containerMain">
        <section class="containerImgName">
            <img src="../../../assets/images/imgStaticMain1.png" alt="" width="90%" height="90%" >
        </section>
        <section>
            <div class="topBrasil">
                <p class="topDez">
                    TOP 10
                </p>
                <p class="topDez2">Brasil: top 2 de hoje</p>
            </div>
            <div class="containerDescrip">
                <p>
                    Um agente do FBI persegue o ladrão de arte mais
                    procurado do mundo. Ele só não esperava ter seu
                    alvo como parceiro para prender uma bandida muito esperta.
                </p>
                <div class="btnContainer">
                    <button class="btn1"><img src="../../../assets/images/iconPlay.png" alt="">Assistir </button>
                    <button class="btn2"><img src="../../../assets/images/iconInfo.png" alt="">Mais Informações </button>
    
                </div>
            </div>
        </section>
    </div>

</div>