.container {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/images/backgroundMain.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 650px;
}

.containerMain {
    color: #ffff;
    max-width: 36%;
    padding: 4%;
    padding-top: 0px;
}

.containerImgName {
    margin-bottom: 10%;
    max-width: 650px;
}

.topBrasil {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.topDez {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: red;
    width: 10.18%;
    min-width: 30px;
    min-height: 30px;
    height: 3.5vw;
    padding: 2px;
    border-radius: 10px;
    font-size: 90%;
    font-weight: bold;
}

.topDez2 {
    padding-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.6rem;
}

.btnContainer {
    display: flex;
    flex-wrap: nowrap;
}

.containerDescrip p {
    width: 100%;
    font-size: 1.4vw;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.25;
}

.containerDescrip button {
    height: 3.0vw;
    padding: 0.68vw;
    padding-left: 1.7vw;
    padding-right: 2.05vw;
    border-radius: 4px;
    border: none;
}

.btn1 {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 11.3vw;
    margin-right: 0.6vw;
}

.btn1 p{
    margin-bottom: 0px;
    width: fit-content;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
}

.btn1:hover {
    background-color: #ffffffa6;
}

.btn2 {
    background-color: #ffffff67;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 18vw;
}

.btn2 img{
    height: 2.4vw;
    width: 2.4vw;
}

.btn2 p{
    margin-bottom: 0px;
    width: fit-content;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    font-size: 1.35vw;
}

.btn2:hover {
    background-color: #ffffff44;
}

@media screen and (max-width: 840px) {
        
    .containerDescrip button {
        height: 4.94vw;
        padding: 0.95vw;
        padding-left: 2.4vw;
        padding-right: 2.88vw;
        border-radius: 4px;
    }

    .btn1 {
        min-width: 16.3vw;
        margin-right: 0.6vw;
    }

    .btn1 p{
        margin-bottom: 0px;
        font-size: 1.9vw;
        padding-top: 2px;
    }

    .btn2 {
        min-width: 24.56vw;
    }
    
    .btn2 img{
        height: 2.4vw;
        width: 2.4vw;
    }
    
    .btn2 p{
        font-size: 1.9vw;
    }
    
}