.mainContainer {
    color: white;
    text-align: center;
    background-color: #000000;
}

.containerOne {
    background-color: var(--netflixPreto);
    background-image: url(../../assets/images/netflixBackground1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid #222222;
}

.containerOne h1 {
    max-width: 640px;
    font-size: 3.0rem;
    line-height: 1.1;
    font-weight: bolder;
}

.containerOne h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    padding: 0 20px 0 20px;
    margin: 1rem auto;
}


.containerOne section {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    margin: 100px auto;
}

.btnNetflix {
    width: 220px;
    height: 80px;
    font-size: 1.6rem;
    color: white;
    background-color: #E50914;
    border: none;
    border-radius: 10px;
}

.btnNetflix:hover {
    background-color: #FD000D;
}

// -----
.containerTwo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 10px solid #222222;
    padding: 20px 0;
}

.containerTwo section {
    min-width: 400px;
}

.containerTwoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    text-align: left;
    max-width: 600px;
}
.containerTwoText h1 {
    font-size: 3rem;
}
.containerTwoText h3 {
    margin-top: 20px;
    font-size: 1.6rem;

}

.imageSection {
    position: relative;
    justify-content: center;
}

.logoTv {
    position: absolute;
    top: 35%;
    left: 35%;
}
//----

@media screen and (max-width: 550px) {
    .containerOne h1 {
        font-size: 28px;
    }
}