<section class="mainContainer">
    <div class="containerOne">
        <section>
            <h1>Filmes, séries e muito mais. Sem limites.</h1>
            <h3>Assista onde quiser. Cancele quando quiser.</h3>
        </section>
        <section>
            <button type="button" class="btnNetflix">Entrar</button>
        </section>
    </div>
    <div class="containerTwo">
        <section>
            <h1>Aproveite na TV.</h1>
            <h3>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h3>
        </section>
        <section>
            <img src="../../assets/images/homeImg1.png" alt="">
        </section>
    </div>
</section>