.container {
    width: 100%;
    height: 100vh;
    background-color: var(--netflixPretoFosco);    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 3%;
    top: 2%;
}

.logo img {
    width: 132px;
}

h1 {
    font-size: 3vw;
    line-height: 40px;
    color: white;    
}

@media screen and (max-width: 800px) {
    
    h1 {
        font-size: 28px;
    }

}